@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.manrope {
    font-family: "Manrope", sans-serif;
  }

ul>li:hover a{
    font-weight: 800;
    color: rgb(73, 73, 73);
}